<!DOCTYPE root[<!ELEMENT Folder ANY>
<!ATTLIST Folder id ID #REQUIRED>
<!ELEMENT Post ANY>
<!ATTLIST Post id ID #REQUIRED>
<!ELEMENT Stream ANY>
<!ATTLIST Stream id ID #REQUIRED>
 

]>
<root id="-1">
  <Stream id="1049" parentID="-1" level="1" writerID="0" creatorID="0" nodeType="1045" template="1054" sortOrder="0" createDate="2013-01-22T22:04:52" updateDate="2013-01-22T22:55:41" nodeName="The magnificent machine" urlName="the-magnificent-machine" writerName="admin" creatorName="admin" path="-1,1049" isDoc="">
    <Post id="1059" parentID="1049" level="2" writerID="0" creatorID="0" nodeType="1047" template="1052" sortOrder="0" createDate="2013-01-22T23:22:28" updateDate="2013-01-22T23:22:29" nodeName=" My First Post." urlName="-my-first-post" writerName="admin" creatorName="admin" path="-1,1049,1059" isDoc="">
      <bodyText><![CDATA[<p>Hello, this is markdown, I would really like to post some code now</p>

<pre><code>c# kskdjs d
@if(meh){
    call Cong
}
</code></pre>

<p>saæk aksdlaksjdlkajsdlk jaslkdja lksjdlkasjdl kajsldkj sadjl kasjls akjd
alkjsd jaslkjs lkjalk sjd lka jsdl</p>

<p>sdlkjas lkjaskljlks ajd ,s adash dkjahska skjd</p>

<p>sdaaskdælaskd ælasælk æasld
alskjd lkajsdlkjas lkjslkaj kasjd
alskjd asdalskdj las</p>
]]></bodyText>
      <postDate>2013-01-22T00:00:00</postDate>
    </Post>
    <Folder id="1062" parentID="1049" level="2" writerID="0" creatorID="0" nodeType="1060" template="1061" sortOrder="1" createDate="2013-01-23T17:21:41" updateDate="2013-01-23T17:21:41" nodeName="2013" urlName="2013" writerName="admin" creatorName="admin" path="-1,1049,1062" isDoc="" />
    <Folder id="1063" parentID="1049" level="2" writerID="0" creatorID="0" nodeType="1060" template="1061" sortOrder="2" createDate="2013-01-23T17:27:53" updateDate="2013-01-23T17:27:53" nodeName="1" urlName="1" writerName="admin" creatorName="admin" path="-1,1049,1063" isDoc="" />
  </Stream>
</root>